* {
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.nav {
    margin: 0px 150px;
}

.text-logo {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding-left: 50px;
    margin-top: 10px;
}

.nav-title {
    color: #bdb5b5;
    font-size: 48px;
    font-weight: 800;
}

.header {
    background-color: rgba(229, 84, 115, 0.10);

}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    text-align: left;
    width: 800px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 32px;
}

.btn-banner {
    border-radius: 8px;
    background: #E55473;
    border: none;
    display: flex;
    padding: 20px 43px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
}

.header-pic {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    background-position: bottom right;
    padding-right: 100px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 100px;
    margin-top: 130px;
    padding-bottom: 30px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    flex-direction: column;

}

.featured {
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.bonus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 240px;
}

.spic1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.spic2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.spic3 {
    border-radius: 500px 500px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.simg1 {
    width: 310px;
    height: 428px;
    flex-shrink: 0;
    justify-content: center;
    display: flex;
}

.simg2 {
    width: 310px;
    height: 428px;
    flex-shrink: 0;
    justify-content: center;
    display: flex;
}

.simg3 {
    width: 310px;
    height: 428px;
    flex-shrink: 0;
    justify-content: center;
    display: flex;

}

.caption {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hot-container {

    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}

.hot-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 20px;
}

.hot-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.hot-btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
}

.picpart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 240px;
}

.pic {
    padding-right: 24px;
}

.lsech {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.lsecd {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

textarea {
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    flex-shrink: 0;

}

.div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.last-section{
    background-image: url(Flower\ Asset\Rectangle9.png);
}