body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header-container {
    display: flex;
    padding: 50px 50px -0px 100px;
    background: rgba(229, 84, 115, 0.10);

}

.banner {
    width: 50%;
}

.header-img {
    text-align: center;

}

.content {
    padding: 0px 50px 0px 50px;
}

.banner-title {
    font-size: 55px;
    font-weight: bold;
}

.btn-banner {
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #E55473;

}

.header-img {
    margin-top: 10px;
}

.featured {
    font-size: 30px;
    font-weight: bold;

}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 100px;
    margin-top: 130px;
    padding-bottom: 30px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    flex-direction: column;

}



.bonus {
    display: flex;
    padding: 100px;
    justify-content: center;
    text-align: center;
}

.spic1 {
    padding: 50px;
    width: 400px;

}

.spic1 div {
    height: 400px;
    width: 100%;
    overflow: hidden;
    border-radius: 50% 50% 0px 0px;
    background-color: rgba(241, 184, 222, 0.851);

}

.spic2 {
    width: 400px;
    padding: 50px;

}

.spic2 div {
    height: 400px;
    width: 100%;
    background-color: rgba(234, 229, 158, 0.82);
    overflow: hidden;
    border-radius: 50% 50% 0px 0px;
}

.spic3 {
    padding: 50px;
    width: 400px;
}

.spic3 div {
    height: 400px;
    width: 100%;
    background-color: rgba(241, 189, 193, 0.982);
    overflow: hidden;
    border-radius: 50% 50% 0px 0px;
}

.simg1 {
    height: 300px;
    padding: 100px 0px 0px 0px;
}

.simg2 {
    height: 300px;
    padding: 100px 0px 0px 0px;
}

.simg3 {
    height: 300px;
    padding: 100px 0px 0px 0px;
}

.underline {
    text-decoration: underline;
    font-size: 25px;
}

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hot-container {

    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}

.hot-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 20px;
}

.hot-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.hot-btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
}

.all-pic {
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pic {
    width: 25%;
}

.pic img {
    height: 400px;
    width: 90%;
    margin: 0px 5px;
}

.last-part {
    margin: 120px;
    background-image: url(Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.last-content {
    padding: 100px 100px;

}

.last-content h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.last-content p {
    text-align: center;
    margin-top: -20px;
}

.divition {
    display: flex;
    padding: 20px 200px;
    justify-content: center;
    align-items: center;
}

input {
    width: 70%;
    height: 40px;
    border: none;
}

.divition .btn-banner {
    margin-top: -2px;
    margin-left: 5px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 0px 100px 0px;
}

.desine {
    color: #E55473;
}

.mtitle {
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 0 0 90px 0;

}

.hight {
    background-color: black;
    height: 200px;
}

.mtitle h1 {
    text-align: center;
    padding: 40px 0 25px 0;
}

.mtitle p {
    color: rgba(255, 255, 255, 0.90);
    font-weight: 400;
    width: 550px;
    text-align: center;
    margin: auto;
}

.mtitle h6 {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    margin-top: 25px;
}


.about {
    padding: 20px;
    border-radius: 10px;
    margin: 130px;
    margin-bottom: 100px;
    
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}

.about-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100PX;

}

.about-info {
    text-align: center;
}

.about-us {
    height: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}